<a href="https://colab.research.google.com/github/harrietspence/harrietspence.github.io/blob/main/P_ChicagoDataPortal_tidy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('P_small2_Guncrimes_ChicagoDataPortal.csv')

In [5]:
df.head(1)

,ID,Date,Arrest,Community Area,Year,Location,Incident
0,9446834,01/01/2014 00:02,True,68,2014,"(41.762519013, -87.64919809)",1

In [7]:
df.tail(2)

,ID,Date,Arrest,Community Area,Year,Location,Incident
132349,12893271,11/14/2022 11:25:00 PM,False,28,2022,"(41.870244713, -87.653223806)",1
132350,12893228,11/14/2022 11:47:00 PM,False,44,2022,"(41.72398315, -87.60451692)",1

In [9]:
df2 = df.drop(['ID','Date','Arrest','Location'], axis=1)
df2.head(1)

   Community Area  Year  Incident
0              68  2014         1

In [11]:
df3 = df2.set_index(['Community Area','Year']).stack().reset_index()
df3

        Community Area  Year   level_2  0
0                   68  2014  Incident  1
1                   66  2014  Incident  1
2                   38  2014  Incident  1
3                   61  2014  Incident  1
4                   27  2014  Incident  1
...                ...   ...       ... ..
132346               7  2022  Incident  1
132347              16  2022  Incident  1
132348              19  2022  Incident  1
132349              28  2022  Incident  1
132350              44  2022  Incident  1

[132351 rows x 4 columns]

In [12]:
df4 = df3.rename(columns={'level_2':'NA', 0:'Reported Incident'})
df4

        Community Area  Year        NA  Reported Incident
0                   68  2014  Incident                  1
1                   66  2014  Incident                  1
2                   38  2014  Incident                  1
3                   61  2014  Incident                  1
4                   27  2014  Incident                  1
...                ...   ...       ...                ...
132346               7  2022  Incident                  1
132347              16  2022  Incident                  1
132348              19  2022  Incident                  1
132349              28  2022  Incident                  1
132350              44  2022  Incident                  1

[132351 rows x 4 columns]

In [13]:
count_series = df4.groupby(['Community Area', 'Year','Reported Incident']).size()
count_series

Community Area  Year  Reported Incident
1               2014  1                    110
                2015  1                     99
                2016  1                    117
                2017  1                    118
                2018  1                     97
                                          ...
77              2018  1                     53
                2019  1                     37
                2020  1                     45
                2021  1                     47
                2022  1                     61
Length: 690, dtype: int64

In [14]:
df5 = count_series.to_frame(name = 'Total for Year').reset_index()
df5

     Community Area  Year  Reported Incident  Total for Year
0                 1  2014                  1             110
1                 1  2015                  1              99
2                 1  2016                  1             117
3                 1  2017                  1             118
4                 1  2018                  1              97
..              ...   ...                ...             ...
685              77  2018                  1              53
686              77  2019                  1              37
687              77  2020                  1              45
688              77  2021                  1              47
689              77  2022                  1              61

[690 rows x 4 columns]

In [15]:
from google.colab import files
df5.to_csv('ChicagoDataPortal22_tidy.csv') 
files.download('ChicagoDataPortal22_tidy.csv')